/* General body styling */

body.complete{
	background-image:url("../img/bg.jpg");
}
body.landingpage{
	margin-top:25px;
}


body {
	background-image: url("../img/bg-blurred.jpg");
    color: #FFF !important;
	background-size:cover;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin:0;
}

/*  Placeholder text-styling */
::-webkit-input-placeholder {
	text-align: center;
	border: none;
	color: #FFF;
}

input:focus::-webkit-input-placeholder {
	color: #FFF;
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: center;
	border: none;
	color: #FFF;
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: center;
	border: none;
	color: #FFF;
}

:-ms-input-placeholder {
	text-align: center;
	border: none;
	color: #FFF;
}

/* General columns */
.col-md {
	text-align: center;
	min-height: 100px;
    padding: 15px;
    margin-bottom:15px;
}

/* Input fields */
input {
	padding: 10px;
	text-align: center;
	border: none;
	border-bottom: 1px dotted #FFF;
	background: transparent;
	color: #FFF;
}

input:focus {
	outline: none;
	background: rgba(255,255,255,0.1);
	color: #FFF;

	o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .1s ease-out, background .2s ease-in;
	/*  with proper CSS property */
	transition:color .2s ease-out, background .2s ease-in;
}

input[type=submit],
button {
	/*margin: 0 auto;*/
	font-size: 24px;
	font-weight: bold;
	background: #FFF;
	color: #c9211e;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	box-shadow: 0 0 3px 1 gray;
	border:1px solid transparent;

	o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .1s ease-out, background .2s ease-in;
  /*  with proper CSS property */
  transition:color .2s ease-out, background .2s ease-in;

}

input[type=submit]:hover,
button:hover {
	color: #FFF;
	background: #c9211e;
	border:1px solid #FFF;
}

/* Horizontal line styling */
hr {
	border: 0;
	height: 0;
    box-shadow: 0 0 20px 2px #6f0300;
	margin: 50px 0 5px 0;
	width: 100%;
}

div.class {
	padding: 10px;
}

/* Hide CSV & Dbasics section on start-up until a choice has been made */
#csv,
#dbasics {
	display: none;
}

/* Textarea styling */
textarea {
	background: transparent;
	color: #FFF;
	border: 1px dotted #FFF;
	overflow: auto;
	resize: vertical;
	border-left: none;
	border-right: none;
	padding: 10px;
	min-height: 150px;
    width: 50%;
    max-height:50px;
	outline: none;
}

/* Fixed notification bar on top of the page */
.fixed-nav-bar {
    position: fixed;
    top: 0px;
    left: 0;
    width:100%;
    z-index: 100;
    height: auto;
    background: #7b1310;
    text-align: center;
    font-weight: 400;
    color: #FFF;
    padding-top: 10px;
    padding-bottom:10px;
    box-shadow: 0px 10px 50px #e4807e;
    text-shadow: 0px 5px 15px #3d2222;
    line-height: 25px;
	font-size: 1.2em;
	border-bottom:1px inset #FFF;
  };

/* Smartphone / small device */
@media only screen and (max-width: 600px) {

	textarea {
		width: 90%;
	}
	h2 {
		font-size: 1.6em;
		font-weight: 400;
	}

	.fixed-nav-bar{
		font-size:0.9em;
	}

}